body {
  background: #226666;
}

header {
  background-color: #1D2020;
  font-size: 40px;
  padding: 1%;
}

.header_items {
  color: #FFFFFF;
}

.header_items input {
  float: right;
  font-size: 30px;
  color: #226666;
  border: none;
}

.bar {
  width: 50%;
  height: 30px;
  margin: 0px;
  display: inline-block;
  position: relative;
  border: 1px solid #00C0C0;
}

.scroll_start {
  height: 100%;
  width: 1%;
  background-color: green;
  position: absolute;
  left: 0px;
}

.scroll_end {
  height: 100%;
  width: 1%;
  background-color: red;
  position: absolute;
}

.middle {
  background-color: rgb(255, 255, 255);
  height: 100%;
  position: absolute;
  z-index: -1;
}

.info_bar_top {
  margin: 3% 0;
  background-color: #00C0C0;
  box-shadow: 2px 2px 2px black;
  font-size: 20px;
  font-family: Consolas, monaco, monospace;
}

.info_bar_top input {
  background: linear-gradient(white, #00C0C0);
  border: none;
  padding: 1%;
  /*float: left;*/
}

.info_bar_top input:hover {
  background: linear-gradient(#00C0C0, #068989);
}

.info_bar_top input:active {
  color: white;
}

.salary_input {
  height: 30px;
  width: 60px;
  font-size: 12px;
  padding: 0;
  border: 1px solid;
  text-align: center;
}

.wage_inputs {
  display: inline-block;
  vertical-align: top;
}

.full_info {
  margin: 2% 0;
  height: 30px;
}

.scroll_container {
  width: 1200px;
  margin: 0 auto;
}

.salary_calc {
  width: 10%;
  height: 30px;
  vertical-align: top;
  background-color: black;
  color: white;
  display: inline-block;
  text-align: center;
}

.total_calc {
  text-align: center;
  padding: 1%;
}

.months li {
  display: table-cell;
  padding: 10px;
  background-color: #2A4343;
  border-radius: 4px;
  color: white;
  font-size: 12px;
  width: 3%;
  box-shadow: 2px 2px 2px black;
  text-align: center;
}

ul.months {
  margin: 0 0 0 130px;
  padding: 0;
  width: 50%;
}
