<div class="full_info">

  <input name="salary_input" type="text" placeholder="0" class="salary_input" value="100000">

  <div class="bar">
    <div class="scroll_start"></div>
    <div class="middle"></div>
    <div class="scroll_end"></div>
  </div>

  <span class="salary_calc">0</span>
</div>
