<div class="full_info">

  <div class="wage_inputs">
    <input name="salary_input" type="text" placeholder="Base $" class="salary_input">
    <input name="bonus_input" type="text" placeholder="Bonus %" class="salary_input">
  </div>

  <div class="bar">
    <div class="scroll_start"></div>
    <div class="middle"></div>
    <div class="scroll_end"></div>
  </div>
  <span class="salary_calc">$0</span>
</div>
