<header>
  <div class="header_items">
    <span>Blowfish</span>
    <span style="font-size:20px; color: ##226666">resource planning</span>
    <input type="submit" value="sign-out">
  <div>

</header>

<form id="mega_form">

	<div class="scroll_container">
    <div class="info_bar_top">
      <input type="text" placeholder="input budget name">
      <input type=submit value="add resource" id="add_scroll_bar_button">
      <span class="total_calc">Total: $0</span>
      <input style="float:right" type=submit value="save">
    </div>



    <div class="columns_months">
      <div class="columns">Base</div>
      <div class="columns">Bonus</div>
      <div class="columns">#</div>
      <ul class="months">
        <li>Jan</li>
        <li>Feb</li>
        <li>Mar</li>
        <li>Apr</li>
        <li>May</li>
        <li>Jun</li>
        <li>Jul</li>
        <li>Aug</li>
        <li>Sep</li>
        <li>Oct</li>
        <li>Nov</li>
        <li>Dec</li>
      </ul>
    </div>



	</div>
</form>
