<div class="scroll_bar_button">
  <input type=submit value="add scroll bar" id="add_scroll_bar_button">
</div>

<div class="scroll_container">

  <div class="full_info" id="test_full_info">
    <input type="text" placeholder="0" class="salary_input">

    <div class="bar">
      <div class="scroll" id="test_scroll">
      </div>
    </div>

    <span class="salary_calc" id="test_calc">0</span>
  </div>

</div>
