<div class="scroll_bar_button">
  	<input type=submit value="add scroll bar" id="add_scroll_bar_button">
</div>

<form id="mega_form">

	<div class="scroll_container">

	  <div class="full_info" id="test_full_info">

    	<input name="salary_input" type="text" placeholder="0" class="salary_input" value="100000">

	    <div class="bar" id="test_bar">
	      <div class="scroll_start" id="test_scroll_start"></div>
        <div class="middle" id="test_middle"></div>
        <div class="scroll_end" id="test_scroll_end"></div>
	    </div>

	    <span class="salary_calc" id="test_calc">0</span>
	  </div>

	</div>
</form>
