<header>
  <div class="header_items">
    <span>Blowfish</span>
    <span style="font-size:20px; color: ##226666">resource planning</span>
      <a href="/sign_out">sign-out</a>
  <div>

</header>

<form id="mega_form">

	<div class="scroll_container">
    <div class="info_bar_top">
      <input id="budget_name" name="budget_name" type="text" placeholder="input budget name">
      <input type=submit value="add resource" id="add_scroll_bar_button">
      <span class="total_calc">Total: $0</span>
      <span class="total_resources">Resources: 0</span>
      <input style="float:right" type=submit value="save" id="save_budget_button">
    </div>



    <div class="columns_months">
      <div class="columns">Base</div>
      <div class="columns">Bonus</div>
      <div class="columns">#</div>
      <ul class="months">
        <li>Jan</li>
        <li>Feb</li>
        <li>Mar</li>
        <li>Apr</li>
        <li>May</li>
        <li>Jun</li>
        <li>Jul</li>
        <li>Aug</li>
        <li>Sep</li>
        <li>Oct</li>
        <li>Nov</li>
        <li>Dec</li>
      </ul>

      <div class="benefits_and_taxes">
        <span>Benefits & Taxes</span><br>
        <input name="b_and_t" class="b_and_t_input" type="text" placeholder="B&T %">
      </div>

    </div>
	</div>
</form>
