<div class="scroll_bar_button">
  	<input type=submit value="add scroll bar" id="add_scroll_bar_button">
</div>

<form id="mega_form">

	<div class="scroll_container">

    <div class="total_calc">0</div>

	</div>
</form>
