<header>
  <div class="header_items">
    <span>Blowfish</span>
    <span style="font-size:20px; color: ##226666">resource planning</span>
    <input type="submit" value="sign-out">
  <div>

</header>

<form id="sign_in_form">
  <div class="home_page_forms">
    <form action="" method="">
      <input type="text" placeholder="username" name="username">
      <input type="text" placeholder="password" name="password">
      <input class="hp_submit" type="submit" value="sign_in">
    </form>
  </div>

  <div class="home_page_forms">
    <form action="" method="">
      <input type="text" placeholder="username" name="username">
      <input type="text" placeholder="email" name="email">
      <input type="text" placeholder="password" name="password">
      <input class="hp_submit" type="submit" value="sign_up">
    </form>
  </div>

</form>
